{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('.static', filename='css/preview_image.css')}}">
{% endblock styles %}

{% block page_contents %}

    <div class="container">
        <div class="row">
            <div class="col-sm-4">

                <h1>Not Hotdog</h1>
                <p>
                    Upload an image and have a convolutional (pretrained resnet) neural network guess whether
                    the image is that of a hot dog, or not hot dog! This application utilizes AJAX to send the uploaded
                    image to the server, and return the classification result. A preview of the image uploaded
                    will be displayed, along with the classification result once the server responds.
                </p>

                <p>
                    The application only accepts jpeg that are less than 10mb in size. If your image
                    exceeds the size limit, the image will still be uploaded to the server, but you will
                    not get a classification in return. You can use
                    <a href="https://www.reduceimages.com/" target="_blank">this website</a> to resize your image first.
                </p>

                <p>
                    Please note, this application is not optimized for the mobile experience. For the best experience,
                    please use on a desktop/laptop.
                </p>

            </div>

            <div class="col-sm-6" >
                <br> <br>
                <form id="uploadForm" onsubmit="get_pred_fn(); return false">
                    {{ form.file_wtf(accept=".jpg, .jpeg") }}
                    {{ form.submit_wtf(class="btn btn-primary")}}
                </form>

                <div class="image_preview" id="image_preview">
                    <img src="" alt="" class="image_preview_image" id="image_preview_image">
                    <span class="image_preview_default_text" id="image_preview_default_text">Image Preview</span>
                </div>

                <div id="prediction_result" style="visibility:hidden">
                    <h2 id="output_header"></h2>
                </div>
            </div>

            <div class="col-sm-2">

            </div>
        </div>
    </div>

{% endblock page_contents %}

{% block body_scripts %}
    <script src="{{url_for('.static', filename='scripts/get_pred.js')}}"></script>
{% endblock body_scripts %}