{% extends 'bootstrap/base.html' %}

{% block title %} UptownFunctor {% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">Welcome</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/delimiter_remover">Delimiter Remover</a></li>
                <li><a href="/hotdog">Not Hotdog</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://www.github.com/uptownfunctor" target="_blank"><img src="/static/assets/github_white.svg" width="24px"></a></li>
                <li><a href="https://www.linkedin.com/in/jimmy-du-7341179a/" target="_blank"><img src="/static/assets/linkedin_white.svg" width="24px"></a></li>

            </ul>
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    {% block page_contents %}{% endblock page_contents %}
{% endblock content %}

{% block scripts %}
    {{ super() }}
    {% block body_scripts %}{% endblock body_scripts %}
{% endblock scripts %}
