{% extends "base.html" %}

{% block page_contents %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="border: 1px lightsalmon">
                <h1>Delimiter Remover</h1>
                <p>
                    This application allows the user to remove specific delimiters from their text.
                    Simply paste the text you wish to use into the textbox to the right, and select the
                    delimiter you wish to remove from the dropdown box.
                </p>
                <p>
                    Pressing the delimit button will bring bring up a hidden div on the bottom of the input
                    text area containing the result.
                </p>
            </div>

            <div class = col-sm-7 style="border: 1px coral">
                <label for="input_form">Input text here</label>
                <textarea class="form-control" id="input_form" style="height: 250px" placeholder="Enter your Text"></textarea>

                <br>
                <div id="output_form_container" style="visibility: hidden">
                    <label for="output_form">Delimited Text</label>
                    <textarea class="form-control" id="output_form" style="height:250px"></textarea>
                </div>
            </div>

            <div class="col-sm-2" style="border: 1px navy">
                <button class="btn btn-primary" id="input_btn">Click Me!</button>
            </div>

        </div>
    </div>

{% endblock page_contents %}

{% block body_scripts %}
    <script src="/static/scripts/delimiter_remover.js"></script>
{% endblock body_scripts %}