{% extends "base.html" %}

{% block page_contents %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3" style="border: 1px lightsalmon">
                <h1>Delimiter Remover</h1>
                <p>
                    This application allows the user to remove specific delimiters from their text.
                    Simply paste the text you wish to use into the textbox to the right, and enter the delimiter you
                    wish to remove from the text into the input box on the right.
                </p>
                <p>
                    The delimiter string can be any valid unicode string, including spaces. Every character in the
                    delimiter string will be deleted from input text.
                </p>
            </div>

            <form onsubmit="delimit_text(); return false">
                <div class = col-sm-7 style="border: 1px coral">
                    {{ form.inputTextArea.label }}
                    {{ form.inputTextArea(class="form-control", style="height: 250px", placeholder="Enter Your Text") }}

                    <br>
                    <div id="output_form_container" style="visibility: hidden">
                        {{ form.outputTextArea.label }}
                        {{ form.outputTextArea(class="form-control", style="height:250px") }}
                    </div>
                </div>

                <div class="col-sm-2" style="border: 1px navy">
                    {{ form.delimiterInput.label}}
                    {{ form.delimiterInput(class="form-control", placeholder="String to remove") }}

                    <br>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>

        </div>
    </div>

{% endblock page_contents %}

{% block body_scripts %}
    <script src="/static/scripts/delimiter_remover.js"></script>
{% endblock body_scripts %}